<h3>Emergency Relief Map</h3>
<!-- <div id="map"></div> -->
<div id="map" style="width: 100%; height: 700px;"></div>

<style>
   #map {
    height: 400px;
    width: 100%;
   }
</style>
<script> 
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: new google.maps.LatLng(40.7128, -74.0059),
    mapTypeId: 'terrain'
  });

  var civilians;
  $.get('/civilians.json').done(function(civilians) {
    civilians = civilians
    for(var civilian of civilians) {
      var iconColor;
      // debugger
      if (civilian.questions) {
        iconColor = getColor(civilian.questions[0].answer.response)
      }
      plot(civilian, iconColor)
    }
  })

  function plot(civilian, color) {
    var address = civilian.address.split(" ").join("+");
    // var iconColor = return civilian.questions[-1].answer ? 
    var iconColor = 'ccc';
    var url = `https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=<%= ENV['google_api_key'] %>`
    $.get(url).done(function(data) {
      var marker = new google.maps.Marker({
        map: map,
        position: data["results"][0]["geometry"]["location"],
        icon: `http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|${ color || 'ccc'}`,
        animation: google.maps.Animation.DROP,
        draggable: true
        
      });   
    })
  }

  function getColor(answer) {
    // debugger
    if (answer === "no response") {
      return;
    }
    else {
      return answer === "t" ? "0f0" : "f00";
    }
  }
}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap">
</script>
